.container {
  display: flex;
  gap: 100px;
  align-items: center;
}

.textContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 500px;
  width: 250px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.desc {
  font-size: 20px;
}