.container {
  display: flex;
  gap: 100px;
}

.textContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  background: linear-gradient(#3a7bd5,#3a6073);
  font-size: 96px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 20px
}

.button:first-child {
  background-color: var(--btn);
  color: #fff;
}

.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.imgContainer {
  flex: 1;
  position: relative;
}

.button:first-child {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.button:first-child:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }


.button:last-child {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
}

.button:last-child:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}